// fonts
$mainFonts: 'GoogleSans', Arial, sans-serif;

// Text size
$mainFs: 14px;
$h1Fs: 32px;
$h2Fs: 24px;

// colors
$primaryColor: #4643D3;
$secondaryColor: #FE805C;
$white: #FFFFFF;
$black: #222222;
$grey: #9DA1A6;
$lightGrey: #DDDDDD;
$greyBlue: #F5F7F8;




